# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R 
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. ggplo2

|Data Science Tools|
|:-|
Google Colab
R Studio
JupyterLab

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
def minutes_to_hours(minutes):
    # divide minutes by 60 to get hours
    hours = minutes / 60
    # return the result
    return hours
minutes_to_hours(200)

3.3333333333333335

**Objectives:**
* Creating a markdown cell to list data science libraries
* Listing popular languages for Data Science
* Creating a markdown cell introducing arithmetic expression examples
* Creating a code cell to multiply and add numbers
* Creating a code cell to convert minutes to hours

## Author 
 Ibrahim Matar